In [1]:
import sys
sys.path.append('c:\\Users\\marsa\\Documents\\projects\\tesis-project\\src')
from tunning.f_utils import get_tunning_results
from IPython.display import display

def fitness():
    pass

for arch in ['mlp', 'rnn', 'tcn','cnn']:
    display(get_tunning_results(arch))

(0.2516, [8, 4, 1, 0.8, 6, 3])
(0.3606, [2, 2, 0, 0.3677612439658075, 6, 3])
(0.21059999999999998, [5, 1, 0, 0.7434538313157565, 6, 7])
(0.3084, [5, 1, 1, 0.373779406268599, 6, 7])

,arch,Usuario,Personal/Impersonal,Nr. nodos,Nr. capas,Usar Batch Normalization,Dropout,Nr. épocas,Tam. bache,MSE
0,mlp,34,per,256,16,2,0.800,64,8,0.252
1,mlp,32,per,4,4,1,0.368,64,8,0.361
2,mlp,34,imp,32,2,1,0.743,64,128,0.211
3,mlp,32,imp,32,2,2,0.374,64,128,0.308

(0.24459999999999998, [1, 2, 0.0, 6, 0.4474155673501172, 4, 3])
(0.34219999999999995, [2, 7, 0.0, 6, 0.5608200519233141, 3, 3])
(0.2104, [2, 2, 0.0, 0, 0.8, 5, 3])
(0.3, [1, 2, 0.0, 5, 0.0, 3, 3])

,arch,Usuario,Personal/Impersonal,Nr. capas,Nr. unidades LSTM,Dropout (lstm),Nr nodos densos,Dropout (denso),Nr. épocas,Tam. bache,MSE
0,rnn,34,per,2,4,0.0,64,0.447,16,8,0.245
1,rnn,32,per,4,128,0.0,64,0.561,8,8,0.342
2,rnn,34,imp,4,4,0.0,1,0.800,32,8,0.210
3,rnn,32,imp,2,4,0.0,32,0.000,8,8,0.300

(0.2578, [4, 4, 0.8, 1, 1, 8, 3])
(0.3836, [2, 2, 0.8, 0, 1, 8, 3])
(0.21599999999999997, [6, 2, 0.8, 0, 1, 6, 7])
(0.307, [2, 4, 0.505993020593099, 0, 1, 8, 7])

,arch,Usuario,Personal/Impersonal,Nr. filtros,Tam. kernel,Dropout,Omitir conexiones,Usar Batch Normalization,Nr. épocas,Tam. bache,MSE
0,tcn,34,per,16,16,0.800,2,2,256,8,0.258
1,tcn,32,per,4,4,0.800,1,2,256,8,0.384
2,tcn,34,imp,64,4,0.800,1,2,64,128,0.216
3,tcn,32,imp,4,16,0.506,1,2,256,128,0.307

(0.2686, [8, 2, 0.0, 4, 0.8, 6, 3])
(0.3832, [7, 3, 0.04065571452744929, 3, 0.5893029464859189, 6, 3])
(0.21039999999999998, [8, 4, 0.8, 6, 0.3058565417428838, 6, 8])
(0.305, [2, 4, 0.0, 6, 0.8, 5, 8])

,arch,Usuario,Personal/Impersonal,Nr. filtros,Tam. kernel,Dropout (conv),Nr. nodos densos,Dropout (denso),Nr. épocas,Tam. bache,MSE
0,cnn,34,per,256,4,0.000,16,0.800,64,8,0.269
1,cnn,32,per,128,8,0.041,8,0.589,64,8,0.383
2,cnn,34,imp,256,16,0.800,64,0.306,64,256,0.210
3,cnn,32,imp,4,16,0.000,64,0.800,32,256,0.305